@import "navbar.css";
@import "hero.css";

:root {
    --warna-hitam: #000;
    --warna-putih: #fff;
    --warna-ungu: #6420AA;
}

* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: var(--warna-hitam);
}