.movies {
    max-width: var(--ukuran-container);
    margin: auto;
}

.movie-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 40px;
}

.movie-container img {
    width: 100%;
}

@media (max-width: 768px) {
    .movie-container {
        grid-template-columns: repeat(2, 1fr);
    }
}