nav {
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--warna-hitam);
}

.navbar-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.navbar-logo h1 {
    font-size: var(--ukuran-heading);
    color: var(--warna-putih);
}

.navbar-link {
    display: flex;
    column-gap: 120px;
}

.navbar-link a {
    font-size: var(--ukuran-body);
    color: var(--warna-putih);
}

@media (max-width: 768px) {
    nav {
        display: none;
    }
}